.wrap {
    width: 1000px;
    margin:0 auto;
}

#productList {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
}

#productList:hover .overlay {
    opacity: 0.5;
}

.product {
    width: 200px;
    min-height: 250px;
    border: 1px solid #000;
    display: inline-block;
    margin: 5px;
}

.productImg {
    width: 150px;
    height: 150px;
}