/* Generic Style Attributes */

/* Custom Class Attributes */
.wrap {
    background-color: white;
    width: 1000px;
    margin:0 auto;
}

.product {
    width: 200px;
    border: 1px solid #000;
    display: inline-block;
    margin: 5px;
}

#productList .product {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.product .cell {
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

.productImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    width: 150px;
    height: 150px;
    transform: scale(1);
    transition: all 1s;
}

#productList .product:hover .productImg {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1;
    opacity: 0;
    transition: all 0.6s;
}

.productName {
    position: relative;
    z-index: 1;
}

.price {
    display: block;
    padding: 5px 20px;
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    top: 40%;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Cambria', sans-serif;
    font-weight: normal;
    color: #000000;
    background-color: rgb(255, 145, 0);
    opacity: 0;
    transform: translateY(-20px);
    transition: all .3s;
}

#productList .product:hover .price {
    transform: translateY(0px);
    opacity: 0.9;
}

#productList .product:hover .overlay{
    opacity: 0.8;
}

/* Custom ID Attributes */
#logo {
    width: auto;
    height: 200px;
}

#banner {
    width: auto;
    height: 200px;
}

#menu {
    list-style-type: none;
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

#productList {
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    float: left;
}