/* Generic Style Attributes */
html, body {
    height: 100%;
}

/* Custom Class Attributes */
.wrap {
    background-color: white;
    min-height: 100%;
    position: relative;
    width: 1000px;
    margin:0 auto;
}

.contentDiv {
    float: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menuItem {
    width: 140px;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #151A20;
    background-color: #22276C;
    transition: all .2s;
}

.menuItem:hover {
    background-color: #7B97C6;
    transform: scale(1.025);
}

.menuItem .menuItemText {
    color: #D2B22C;
    font-weight: normal;
}

.menuItem:hover .menuItemText {
    color: #fff;
    font-weight: bold;
}

.menuItemLink {
    text-decoration: none;
}

.product {
    display: inline-block;
    width: 200px;
    border: 1px solid #151A20;
    background-color: #fff;
    margin: 5px;
    vertical-align: middle;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: all 0.6s;
}

.product:hover {   
    background-color: rgba(123, 151, 198, 0.7)
}

.productImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    transition: all 0.5s;
}

.product:hover .productImg {
    transform: scale(1.05);
}

.productName {
    color: #151A20;
    position: relative;
}

.price {
    padding: 5px 20px;
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Cambria', sans-serif;
    color: #151A20;
    background-color: #D2B22C;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s;
}

.product:hover .price {
    transform: translateY(0px);
    opacity: 0.9;
}

.btn-add {
    background-color: #88ff89; /* Webwork Green */
    position: absolute;
    left: 15%;
    top: 30%;
    width: 70%;
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .3s;
}

.product:hover .btn-add {
    transform: translateY(10px);
    opacity: 0.9;
}

.btn-remove {
    background-color: #FF9494; /* Webwork Red */
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90%;
    border: 1px solid black;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .3s;
}

.product:hover .btn-remove {
    transform: translateY(10px);
    opacity: 0.9;
}

.footerText {
    margin: 0;
}

/* Custom ID Attributes */
#logo {
    width: auto;
    height: 200px;
    margin: 0 8px;
}

#banner {
    width: auto;
    height: 200px;
    margin: 0 12px;
}

#content {
    padding-bottom: 45px;
    margin: 10px 0;
}

#menu {
    position: absolute;
    width: 35%;
    margin: 7% auto;
    list-style-type: none;
    display: inline-block;
}

#productView {
    float: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#productList {
    position: relative;
    width: 65%;
    margin: 0 200px 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
}

#footer {
    vertical-align: bottom;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

#btn-show-cart {
    background: #1aab8a;
    color: #fff;
    position: absolute;
    border: none;
    width: 142px;
    height: 50px;
    margin: 10px 40px;
    font-size: 1.1em;
    padding: 0 2em;
    cursor: pointer;
    transition: .5s ease all;
    outline: none;
    text-align: center;
}

#btn-show-cart:hover, #btn-hide-cart:hover {
    background: #fff;
    color: #1aab8a;
}

#btn-show-cart::before, #btn-show-cart::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: .25s ease all;
}

#btn-show-cart::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#btn-show-cart:hover::before, #btn-show-cart:hover::after, 
#btn-hide-cart:hover::before, #btn-hide-cart:hover::after {
    width: 100%;
    transition: .5s ease all;
}

#modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    left: 40%;
    top: 30%;
    width: 20%;
    /* below rules make the cart modal look better on the page; however, the assignment asks for it to be centered
    left: 75%;
    top: 30%;
    width: 280px;
    */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#modal-content {
    padding: 8px;
    display: inline-block;
    color: white;
}

#cart-table {
    border-collapse: collapse;
}

.cart-table-data {
    font-size: 16px;
}

.cart-cell-bold {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    color: #FFC300;
}

#cell-total-due {
    color: #F0F0F0;
}

#cart-row-border-bottom {
    border-bottom: 1pt solid white;
}

#cart-row-border-top {
    border-top: 1pt solid white;
}

.btn-quantity {
    background: #7B97C6;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 22px;
    margin: 4px;
    padding: 0 2px;
    cursor: pointer;
    border: none;
}

#btn-hide-cart {
    display: block;
    margin: 6px auto;
    background: #1aab8a;
    color: #fff;
    border: none;
    font-size: 1.0em;
    padding: 4px 2em;
    text-align: center;
    cursor: pointer;
}